.strategy_info_div{
	font-family:\5fae\8f6f\96c5\9ed1;
	border: 1px solid grey;
	width: 65%;
	padding: 5px;
}

@media only screen and (max-width: 650px){
	.strategy_info_div{
		width: 100%;
	}
}

.stgy_author{
	font-weight: bold;
	font-style: italic;
	margin-right: 120px;
	text-align: right;
}

.stgy_title_eng{
	font-size: 20;
	font-family:Comic Sans MS;
	font-style: italic;
}

.stgy_title{
	font-family: \5e7c\5706;
	font-size: 22;
	font-weight: bold;
	color: DeepPink;
}

.stgy_skill_title,
.stgy_criteria_title,
.stgy_clotheslist_title{	
	font-weight: bold;
	color: Darkorange;
}

.stgy_hint_tiele{
	font-weight: bold;
	color: Red;	
}
.stgy_clothes_category{
	font-weight: bold;
}

.stgy_author_sign_div{
	margin-top: 20px;
	text-align: center;
}

.stgy_author_sign_name{
	font-size: 15;
	font-family:Comic Sans MS;
	font-style: italic;
}

.stgy_divide{
	text-align: center;	
	color: Darkorange;
}
